.sharedContainer {
  .usernameOuter {
    display: flex;
    justify-content: center;
      .profileDate {
        align-self: flex-end;
        position: absolute;
        top: 5px;
        right: 5px;
        flex: 1;
      }
  }
  .profileSeperator {
    border: 0;
    height: 1px;
    @include darker_background_color($base-white);
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .spaceAround {
    display: flex;
    flex: 1;
    justify-content: space-around;
  }
  .sharedBody {
    .flexSplit {
      padding: 10px 20px 10px 20px;
      box-sizing: border-box;
      // flex: 1;
      // margin: 20px;
      // padding: 20px;
      width: 50%;
    }
    .listNode {
      display: inline-block;
      padding: 3px;
      border-radius: 0 10px 10px 0;
      overflow-x: hidden;
      border-left: solid 4px $base-white;
      padding-left: 7px;
      // &::after {
      //   content: " , "
      // }
      &:hover{
        border-left: solid 4px $body-other;
        cursor: pointer;
        // padding-left: 15px;
        // @include darker_background_color($base-white);
      }
      margin: 5px;
      a {
        text-decoration: none;
        color: $base-black;
        text-overflow: none;
        word-break: none;
      }
    }
  }
}