.sharedContainer {
    .usernameOuter {
        display: flex;
        justify-content: center;
    }
    .profileSeperator {
        border: 0;
        height: 1px;
        @include darker_background_color($base-white);
        width: 85%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .spaceAround {
        display: flex;
        flex: 1;
        justify-content: space-around;
    }
    .profileBody {
        .flexSplit {
            flex: 1;
        }
    }
}