.side-nav {
  width: 15vw;
  height: 100vh;
  z-index: 999;
  // display: flex;
  overflow-y: auto;
  // flex-direction: column;
  text-align: center;
  background-color: $body-accent;
  box-shadow: $side-shadow;
  color: $base-white;
  position: fixed;
  .bookmark {
    text-align: justify;
    margin: 0 0 10px 1vw;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    a {
      text-decoration: none;
      color: $base-white;
      cursor: pointer;
      &:hover{
        @include darker_color($base-white);
      }
    }
  }
  h1{
    text-overflow: ellipsis;
    &::after{
      content: "Roomio"
    }
    @media screen and (max-width: $breakpoint-tablet) {
      &::after{
        content: "R";
     }
    }
  }
  .logoBox {
    @include lighter_background_color($body-accent);
    margin-bottom: 15px;
    box-shadow: $side-shadow !important;
  }
}
