
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";
@import "forms";
@import "mixins";
@import "sidenav";
@import "room";

body {
  background-color: $body-bg;
  font-family: $font-family-sans-serif;
  color: $base-black;
  padding: 0;
  margin: 0;
}

.app-container {
  display: flex;
}


.main-view {
   width: 85vw;
}